zofar/zofar.service/zofar.service.valuetype/zofar.service.valuetype.interface-xml-schema/src/main/xsd/NewXMLSchema3.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="baseEntity" abstract="true">
    <xs:sequence>
      <xs:element name="id" type="xs:long" minOccurs="0"/>
      <xs:element name="version" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

